<div class="container-xl">
  <div class="row">
    <div class="col-8 d-flex flex-column content row">
      <h1 class="col-12">WELCOME TO <br/> THE <span>TOEICUTE</span></h1>
      <p class="text-xxl col-10 rounded fst-italic">Are you ready to unlock new opportunities and advance your career in the global
        marketplace?
        The Test of
        English for International Communication (TOEIC) is your gateway to demonstrating your English proficiency to
        employers, institutions, and organizations worldwide.</p>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <img src="assets/images/logo_tachnen.png" alt="logo" class="image1">
    </div>
  </div>
</div>
